asgiref==3.8.1
cffi==1.16.0
chess==1.10.0
cryptography==42.0.7
Django==4.2
django-appconf==1.0.6
django-cryptography==1.1
django-environ==0.10.0
djangorestframework==3.15.1
environ==1.0
psycopg2-binary==2.9.9
pycparser==2.22
sqlparse==0.5.0
typing_extensions==4.11.0
